<div class="panel-group">

    <div class="mcbutton" style="margin-bottom: 10px; float: left; margin-right: 10px;" ui-sref="linechart({machineName: oeeMachineData.MachineName, datapoint: 'oee', perMonthWeekYear: 'M'})">
        <div class="panel panel-default" style="width: 400px;">
            <div class="panel-heading">
                OEE : {{oeeMachineData.MachineName}}
            </div>
            <div class="panel-body" style="height: 400px; width: 400px; padding: 0; margin: 0;">
                <div>
                    <plotly data="dataoee" layout="layoutoee" options="options"></plotly>
                </div>

            </div>
        </div>
    </div>

    <div class="mcbutton" style="margin-bottom: 10px; float: left; margin-right: 10px;" ui-sref="linechart({machineName: oeeMachineData.MachineName, datapoint: 'availability', perMonthWeekYear: 'M'})">
        <div class="panel panel-default" style="width: 400px;">
            <div class="panel-heading">
                Availability : {{oeeMachineData.MachineName}}
            </div>
            <div class="panel-body" style="height: 400px; width: 400px; padding: 0; margin: 0;">
                <div>
                    <plotly data="dataAvailability" layout="layoutoee" options="options"></plotly>
                </div>

            </div>
        </div>
    </div>

    <div class="mcbutton" style="margin-bottom: 10px; float: left; margin-right: 10px;" ui-sref="linechart({machineName: oeeMachineData.MachineName, datapoint: 'quality', perMonthWeekYear: 'M'})">
        <div class="panel panel-default" style="width: 400px;">
            <div class="panel-heading">
                Quality : {{oeeMachineData.MachineName}}
            </div>
            <div class="panel-body" style="height: 400px; width: 400px; padding: 0; margin: 0;">
                <div>
                    <plotly data="dataQuality" layout="layoutoee" options="options"></plotly>
                </div>

            </div>
        </div>
    </div>

    <div class="mcbutton" style="margin-bottom: 10px; float: left;margin-right: 10px;" ui-sref="linechart({machineName: oeeMachineData.MachineName, datapoint: 'performance', perMonthWeekYear: 'M'})">
        <div class="panel panel-default" style="width: 400px;">
            <div class="panel-heading">
                Performance : {{oeeMachineData.MachineName}}
            </div>
            <div class="panel-body" style="height: 400px; width: 400px; padding: 0; margin: 0;">
                <div>
                    <plotly data="dataPerformance" layout="layoutoee" options="options"></plotly>
                </div>

            </div>
        </div>
    </div>
</div>
